<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App Asistencia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <a class="nav-link"  href="list-usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pastoreadores">Pastoreadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
        </li>
        <a class="btn btn-primary d-block d-md-none" aria-current="page" href="/asistencias">Crear Asistencia</a>
      </ul>
    </div>
    <a class="btn btn-primary d-none d-md-block" aria-current="page" href="/asistencias">Crear Asistencia</a>
  </div>
</nav>
